<ul class="bxslider">
  <li class='thumb'><img src="http://bxslider.com/images/170_200/trees.jpg" /></li>
  <li class='thumb'><img src="http://bxslider.com/images/170_200/tree_root.jpg" /></li>
  <li class='thumb'><img src="http://bxslider.com/images/170_200/houses.jpg" /></li>
  <li class='thumb'><img src="http://bxslider.com/images/170_200/hill_road.jpg" /></li>
  <li class='thumb'><img src="http://bxslider.com/images/170_200/me_trees.jpg" /></li>
  <li class='thumb'><img src="http://bxslider.com/images/170_200/hill_trees.jpg" /></li>
  <li class='thumb'><img src="http://bxslider.com/images/170_200/mountain.jpg" /></li>
  <li class='thumb'><img src="http://bxslider.com/images/170_200/houses.jpg" /></li>
</ul>
