<div id="carousel-content" class="">
  <ul class="bxslider">
    <% @photos.each do |p| %>
      <li class='thumb'>
        <div class='crop'>
          <img src="<%= p.url %>" />
        </div>
      </li>
    <% end %>
  </ul>
</div>

