<div class="header clearfix">
  <a href='#' class="close close-carousel">x</a>
  <div class="title">
    Computer History Museum (6 Photos)
  </div>
</div>
<div id="carousel-content" class="">
  <ul class="bxslider">
    <li class='thumb'>
      <div class='crop'>
        <img src="http://upload.wikimedia.org/wikipedia/commons/thumb/e/e0/Computer_History_Museum%2C_Mountain_View%2C_CA.JPG/800px-Computer_History_Museum%2C_Mountain_View%2C_CA.JPG" />
      </div>
    </li>
    <li class='thumb'>
      <div class='crop'>
        <img src="http://upload.wikimedia.org/wikipedia/commons/thumb/c/c5/Computer_History_Museum_Lobby.JPG/800px-Computer_History_Museum_Lobby.JPG" />
      </div>
    </li>
    <li class='thumb'>
      <div class='crop'>
        <img src="http://upload.wikimedia.org/wikipedia/commons/thumb/c/cb/Sage_Computer_in_Revolution_exhibition_at_the_Computer_History_Museum.JPG/800px-Sage_Computer_in_Revolution_exhibition_at_the_Computer_History_Museum.JPG" />
      </div>
    </li>
  </ul>
</div>
