<div class="header clearfix">
  <a href='#' class="close close-carousel">x</a>
  <div class="title">
    Carnegie Mellon Silicon Valley (6 Photos)
  </div>
</div>
<div id="carousel-content" class="">
  <ul class="bxslider">
    <li class='thumb'>
      <div class='crop'>
        <img src="http://upload.wikimedia.org/wikipedia/commons/thumb/1/13/CMU_Hamerschlag_Hall.jpg/800px-CMU_Hamerschlag_Hall.jpg" />
      </div>
    </li>
    <li class='thumb'>
      <div class='crop'>
        <img src="http://upload.wikimedia.org/wikipedia/commons/thumb/c/c0/Wean_hall.jpg/800px-Wean_hall.jpg" />
      </div>
    </li>
    <li class='thumb'>
      <div class='crop'>
        <img src="http://upload.wikimedia.org/wikipedia/commons/thumb/e/e2/School_of_design.jpg/800px-School_of_design.jpg" />
      </div>
    </li>
  </ul>
</div>
