<script>
  $(document).ready(function() {
    $('#main').css('margin-top', 0);
    //$('.mynav .navbar-inner').addClass('home-nav');
    $('li.my-trips').removeClass('active');
    $('li.hiw').addClass('active');
  });
</script>
<div class='hiw'>
  
</div>

