<div class="header clearfix">
  <a href='#' class="close close-carousel">x</a>
  <div class="title">
    La Avenida (6 Photos)
  </div>
</div>
<div id="carousel-content" class="">
  <ul class="bxslider">
    <li class='thumb'>
      <div class='crop'>
        <img src="http://upload.wikimedia.org/wikipedia/commons/thumb/8/84/2008_05_01_8.jpg/800px-2008_05_01_8.jpg" />
      </div>
    </li>
    <li class='thumb'>
      <div class='crop'>
        <img src="http://upload.wikimedia.org/wikipedia/commons/thumb/3/38/2009-0723-CA-MtnViewAdobe.jpg/800px-2009-0723-CA-MtnViewAdobe.jpg" />
      </div>
    </li>
    <li class='thumb'>
      <div class='crop'>
        <img src="http://upload.wikimedia.org/wikipedia/commons/thumb/2/29/Mountainviewcentennialplaza.jpg/800px-Mountainviewcentennialplaza.jpg" />
      </div>
    </li>
    <li class='thumb'>
      <div class='crop'>
        <img src="http://upload.wikimedia.org/wikipedia/commons/9/9b/Wfm_mountain_view.jpg" />
      </div>
    </li>
    <li class='thumb'>
      <div class='crop'>
        <img src="http://upload.wikimedia.org/wikipedia/commons/4/4e/Computer_history_museum.jpg" />
      </div>
    </li>
    <li class='thumb'>
      <div class='crop'>
        <img src="http://upload.wikimedia.org/wikipedia/commons/thumb/4/48/Shoreline_Amphitheatre.jpg/800px-Shoreline_Amphitheatre.jpg" />
      </div>
    </li>
    <li class='thumb'>
      <div class='crop'>
        <img src="http://upload.wikimedia.org/wikipedia/commons/thumb/6/62/Intuitheadquarters.jpg/800px-Intuitheadquarters.jpg" />
      </div>
    </li>
    <li class='thumb'>
      <div class='crop'>
        <img src="http://upload.wikimedia.org/wikipedia/commons/thumb/b/bf/VTA_Tasman_Station_%28August_11th%2C_2005%29.jpg/800px-VTA_Tasman_Station_%28August_11th%2C_2005%29.jpg" />
      </div>
    </li>
  </ul>
</div>

