<div id="map-canvas">
</div>

<div id='upload-btn'>

  <input type="filepicker" name="myName" data-fp-multiple='true' data-fp-apikey='AW7gWNzD4SWqbu2cfapfmz' data-fp-button-text='Upload Your Photos' data-fp-button-class='upload-btn' onchange="onFPChange(event);"/>
  <span style='margin-left: 10px'><img style='height: 40px;width: 40px'src='/assets/list.png'></span>
</div>

<div id='hero' style='display:none'>
  <div class="header clearfix">
    <a href='#' class="close close-hero">x</a>
  </div>
  <div class='photo-container'>
    <img class='photo' src='/assets/gg.jpg'>
  </div>

</div>

<div id="carousel-container" style="display:none">
  <div class="header clearfix">
    <a href='#' class="close close-carousel">x</a>
    <div class="title">
      Lombard Street (43 Photos)
    </div>
  </div>
  <div id="carousel-content" class="">
    <ul class="bxslider">
      <li><img src="http://bxslider.com/images/170_200/trees.jpg" /></li>
      <li><img src="http://bxslider.com/images/170_200/tree_root.jpg" /></li>
      <li><img src="http://bxslider.com/images/170_200/houses.jpg" /></li>
      <li><img src="http://bxslider.com/images/170_200/hill_road.jpg" /></li>
      <li><img src="http://bxslider.com/images/170_200/me_trees.jpg" /></li>
      <li><img src="http://bxslider.com/images/170_200/hill_trees.jpg" /></li>
      <li><img src="http://bxslider.com/images/170_200/mountain.jpg" /></li>
      <li><img src="http://bxslider.com/images/170_200/houses.jpg" /></li>
    </ul>
  </div>
</div>
